@import url(style.css);

.about-bannner-bg {
    background: #F2F7FC;
    position: relative;
    padding: 64px 0;
}

.about-bannner-bg img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.about-banner {
    text-align: center;
    position: relative;
}

.about-banner h1 {
    color: #244BA8;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 57.143% */
    letter-spacing: 1.2px;
    margin-bottom: 36px;
}

.about-banner p {
    color: #244BA8;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    max-width: 447px;
    margin: 0 auto 15px;
    line-height: 24px; /* 133.333% */
}

.about-banner a {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    display: block;
    width: 100%;
    max-width: 240px;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.2px;
    text-transform: uppercase;
    border-radius: 8px;
    background: #FF6955;
    border: 2px solid transparent;
    transition: all 0.3s ease-out;
    text-decoration: none;
    padding: 12px 47px;
    margin: 0 auto;
}

.about-banner a:hover {
    background-color: transparent;
    border: 2px solid #FF6955;
    color: #FF6955;
}

.about-banner-2 {
    background-color: #FFF;
    padding: 119px 0 182px;
}

.about-banner-2-content h1 {
    color: #244BA8;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    margin-bottom: 26px;
}

.about-banner-2-content p {
    color: #244BA8;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    max-width: 511px;
    line-height: 24px; /* 133.333% */
    margin-bottom: 30px;
}

.about-banner-2-content .button-banner {
    max-width: 240px;
    width: 100%;
}

.product-bg-remover {
    background: #F2F7FC;
}

.product-bg-remover > div > h4 {
    color: #244BA8;
}

.pricing-plan-section p#pricing_description_text {
    color: #244BA8;
}

@media screen and (max-width: 991px) {
    .about-banner-2-content h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .about-banner-2-content p {
        font-size: 16px;
    }

    .about-banner-2 {
        padding: 60px 0;
    }

    .about-bannner-bg img {
        width: 100%;
        max-width: 200px;
    }
}

@media screen and (max-width: 768px) {
    .about-banner h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .about-banner p{
        font-size: 16px;
    }

    .about-banner a {
        padding: 11px 38px;
    }
    
    .about-bannner-bg img {
        width: 100%;
        max-width: 150px;
    }

    .about-banner-2-content h1 {
        text-align: center;
    }

    .about-banner-2-content p {
        margin: 0 auto;
        text-align: center;
    }
    .about-banner-2-content .button-banner {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 556px) {
    .about-bannner-bg img {
        width: 100%;
        max-width: 100px;
    }

    .about-banner a {
        padding: 7px 25px;
    }
}
