@import url(style.css);
@import url(about.css);
@import url(partner.css);
@import url(contact.css);
@import url(services.css);


.calendly-banner-main{
    padding-top: 130px;
    padding-bottom: 130px;
}

.calendly-meeting-heading {
    text-align: center;

}

.calendly-meeting-heading h2 {
    color: #244BA8;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}

.calendly-meeting-heading p {
    color: #244BA8;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;

}

@media screen and (max-width: 400px) {
    .calendly-banner-main{
        padding-bottom: 10px;
    }
}
