/* Style the card container */
#card-element {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px; /* Add margin to the top */
    margin-bottom: 10px;
}

/* Style the card number input */
.StripeElement--card {
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    margin-top: 10px;
}


 /* Apply styles to the container */
/* Apply styles to the container */
.billing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 10px;
}

/* Apply styles to each individual div */
.billing-box {
    flex: 0 1 calc(100% - 20px);
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
}

/* Style the headings */
.billing-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style the information pairs */
.billing-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Style the labels */
.billing-label {
    font-weight: bold;
    flex-basis: 40%; /* Adjust as needed */
}
