@import url(style.css);
@import url(about.css);
@import url(services.css);

.learn-wrap {
    background: #244BA8;
}

.learn-wrap > div > .row {
    align-items: center;
    flex-direction: row-reverse;
}

.learn-wrap .value_list ul {
    padding-left: 0;
}

.learn-wrap .value_list ul li {
    color: #ffffff;
}

.video-section{
    padding-top: 126px;
    padding-bottom: 40px;
    text-align: center;
}


.video-section iframe{
    border-radius: 40px;
    width: 99%;
    max-width: 978px;
    height: 52vw;
    max-height: 550px;
}

@media (max-width: 576px) {
    .video-section iframe{
        border-radius: 20px;
    }

    section.value_section.learn-wrap {
        padding: 60px 0px;
    }

    .learn-wrap .value_list ul li {
        font-size: 17px;
    }
}
