@import url(style.css);
@import url(about.css);

.partner-banner img {
    top: 9%;
}

.partner-bg {
    background-color: #ffffff;
    padding-bottom: 41px;
}

.partner-bg > div > h4 {
    color: #244BA8;
}

.partner-product {
    border-radius: 24px;
    background: #FFF;
    margin: 0 auto;
    box-shadow: 0px 5px 83px 0px rgba(40, 40, 40, 0.08);
}
