@import url(style.css);
@import url(about.css);
@import url(services.css);
@import url(learn.css);
@import url(login.css);

.signup-banner-img{
    width: 100%;
    max-width: 235px;
}

.signup-form {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 16px 24px 0px rgba(36, 75, 168, 0.08);
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
    padding: 48px 40px;
}

.signup-inputs{
    display: flex;
    gap: 5px;
}

.input-fields label{
    color: #B2B2B2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.checkbox-div{
    position: relative;
    z-index: 1;
    text-align: left;
    margin-top: 15px;
    margin-bottom: -15px;
}

@media screen and (max-width: 480px) {
    .signup-form {
        padding: 40px 20px;
    }

    .login-form-section {
        padding: 60px 10px;
    }
}
